* {
  color: white;
}
body {
  background-image: url(/style/1800x682-programmerportfolio-header-SWG-1024x388.jpg);
  background-attachment: fixed;
  position: relative;
  max-width: 2000px;
  align-items: center;
  font-family: "Century Gothic", "Lato", sans-serif;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
  font-size: 2rem;
}
.barra-menu {
  /* display: flex;
  flex-direction: row;
  padding-top: 50rem;
  align-items: left;
  justify-content: left;

  
  border-color: lightgrey 1.5px;

  justify-content: space-between;
  padding: 5rem;
  padding-top: 30rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(238, 238, 238, 0.678);
  z-index: 10;
  border-radius: 0%;
}
.barra-menu--top {
  position: fixed;
  top: 0;
  font-size: 1rem;
}
.elementos {
  text-decoration: none;
  padding: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
}

.ventana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}
::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2.5rem;
}
